//**** Constantes de operaciones ***//

$btnBackColor:#2ea59f;

$backGroundColor:#062a4d;
$MsjPage:otro;



$backColorMsj:#143eb7,
#1e5bb5,
#2f91ad,
#35b0a3;

$font-family:"Poppins",
"arimo",
"Courier",
"Monospace";

//****FIN CONSTANTES****//




.text-style {
    @if $MsjPage==pageError {
        color: red !important;
    }

    @else {
        color: white !important;
    }

}


* {
    padding: 0px;
    margin: 0px;
}

@for $i from 1 through 1 {
    @each $color in $backColorMsj {

        .txtmsj#{$i} {
            background-color: $color + !important;
            $i: $i+1;
        }
    }
}
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Poppins:wght@100;400&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  text-align: center;
  padding: 10px 40px;
}

nav {
  a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }

  .navbar-toggler {
    margin-bottom: 20px;
  }
}

.nav-link:hover {
  background-color: $btnBackColor;
  color: white !important;
  border-radius: 4px;
}

nav ul {
  list-style: none;

  li {
    display: inline;
    padding: 10px;
  }
}

.tableServ {
  position: relative;
  left: 25%;
  top: 50%;
}

main .submain .articulos {
  opacity: 1;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation-name: art;
  animation-duration: 2s;
  background-color: #FAFAFA;
}

.text-white {
  background-color: #FAFAFA !important;
}

.main_articulos_width {
  width: 100%;
}

@keyframes art {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.btn .btn-primary span {
  font-size: 1em !important;
  border-color: black;
}

.main-border-style {
  border-radius: 4px;
  text-align: center;
  padding: 10px;
}

.main-title-border-style {
  border-radius: 4px;
  background-color: rgb(247, 238, 238);
  text-align: center;
  padding: 10px;
}

h1 {
  background-color: $backGroundColor !important;
  color: white !important;
  font-size: 2em;
}

main {
  background-color: #FAFAFA;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 75vh;
  align-items: center;

  .main_articulos-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #FAFAFA;
  }

  .submain {
    .subMenu {
      display: flex;
      width: 100%;
      height: 282px;
      object-fit: cover;
      justify-content: space-evenly;
    }

    .imagenes {
      height: 282px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;

      &:hover {
        transform: scale(1.2, 1.2);
        width: 100%;
        transition: 0.5s;
      }
    }

    .descImg {
      display: block;
      margin-top: 3%;
      width: auto;
      height: 5%;
    }
  }

  .subjobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    height: 60vh;

    .job {
      width: 95%;
      height: 200px;
      object-fit: cover;
      border-radius: 4px;
      margin: 10px;

      &:hover {
        transform: scale(1.1, 1.1);
        width: 100%;
        transition: 0.3s;
        box-shadow: 0 5px 10px #719ECE;
      }
    }
  }
}

.contact {
  display: block;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  padding-bottom: 5%;

  .blockForm {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  form {
    background: none;
    color: white;
    height: auto;
    margin: 50px;

    .form-stylos {
      padding: 5px;
      margin: 20px;
      border-radius: 4px;
      width: 70%;
      height: 3em;
      border-style: solid;
      border-color: white;
      border-width: 2px;
      border-width: 5px;

      &:focus {
        padding: 5px;
        margin: 20px;
        border-radius: 4px;
        width: 100%;
        height: 4em;
        border-style: solid;
        outline: none !important;
        border-color: $btnBackColor;
        border-width: 1px;
      }
    }
  }
}

textarea {
  height: 250px;
  width: 50%;
  border: none;
  border-radius: 4px;

  &:focus {
    outline: 1px solid $btnBackColor !important;
    width: 90%;
  }
}

.contact .blockForm {
  form {
    textarea {
      justify-self: center;
    }

    align-content: center;
  }

  .form {
    justify-self: center;
    text-align: center;
  }
}

.sendMsj {
  height: auto;
}

.txtmsj1 {
  background-color: #143eb7 !important;
}

.txtmsj2 {
  background-color: #1e5bb5 !important;
}

.txtmsj3 {
  background-color: #2f91ad !important;
}

.txtmsj4 {
  background-color: #35b0a3 !important;
}

.sendMsj p {
  background-color: $backGroundColor;
  color: white;
  font-size: 2em;
  text-align: center;
  align-items: center;
  padding: 3%;
}

.text-style {
  color: white !important;
}

.text-style-fail {
  color: red !important;
}

button {
  background-color: white;
  text-decoration: none;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $btnBackColor;
  margin: 10px;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    background-color: $btnBackColor;
    transform: translate(0, 10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 0px 10px -1px;
    border: none;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.blockServ {
  display: flex;
  flex-direction: column;
  align-items: center;

  .lineaServ {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    align-content: center;
    margin: 1%;
  }
}

.submain .lineaServ {
  width: 100%;
}

.blockServ .lineaServ {
  .artTitulo {
    border-radius: 4px;
    background-color: $backGroundColor;
    color: white;
    text-align: center;
    align-self: center;
    width: 100%;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, white 0px 2px 0px -1px;
  }

  .artIcon {
    border-radius: 4px;
    border: 1px solid #00aaa6;
    background-color: white;
    justify-self: start;
    padding: 2%;
    margin: 1%;
    width: 20%;
    height: 20%;

    img {
      width: 100%;
    }
  }

  .artBoton {
    text-align: center;
    align-self: center;
    width: 35%;
    align-items: center;
    justify-content: center;

    button {
      width: 100%;
      justify-self: center;
      align-self: center;
    }
  }

  p {
    margin-top: 5%;
  }
}

footer {
  height: 35%;
  background-color: $backGroundColor;
  color: white;

  .footer_div-Style {
    height: auto;
    background-color: $backGroundColor;
    background: linear-gradient(#00aaa6, #00238d);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 0px 10px -1px;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 2%;

    .footer_p_aling {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  header {
    display: grid;
    justify-content: center;

    .menu {
      justify-self: center;
    }

    .logo {
      text-align: center;

      img {
        width: 150px;
      }
    }

    .menu nav ul li {
      display: block;
    }
  }

  .body-fontStyle {
    color: black;
    font-size: 10px;
  }

  .main-border-style {
    padding: 0px;
    margin: 10px;
  }

  main .submain {
    display: flex;
    flex-direction: column;
    padding: 5%;

    .descImg {
      display: block;
      margin-top: 3%;
      width: auto;
      height: 5%;
      padding-left: 0%;
    }
  }

  .main .submain .artbutton {
    align-items: center;
  }

  .barra {
    background: linear-gradient(to right, #00aaa6, #00238d);
    border-radius: 0px !important;
  }

  .body-flexBoxColum {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }

  .blockSomos {
    display: flex;
    flex-direction: column;

    .blockArt {
      display: inline-block;
      flex-direction: column;
      flex-wrap: wrap;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
      -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
      height: auto;
      min-height: 170px;
    }
  }

  .contact .blockForm {
    display: block;
    flex-direction: row;
  }

  .subjobs {
    height: auto !important;

    .jobs {
      display: flex;
      flex-direction: column;
    }
  }

  .blockServ {
    .lineaServ {
      .artTitulo {
        align-self: center;
        align-items: center;
        color: white;
        width: 100%;
        height: auto;
        background-color: $backGroundColor;
        display: inline-block;
        flex-direction: column;
        flex-wrap: nowrap;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
        -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
        box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);

        p {
          color: white;
        }
      }

      display: inline-block;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin: 1%;

      .artBoton {
        width: 90%;
      }
    }

    .artIcon {
      display: none;
      align-self: center;
    }
  }

  footer {
    width: 100%;
    height: auto;
    color: white;

    .socialMedia {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .logo {
      grid-column: 1/2;
      background-color: white;
      align-self: center;
      justify-content: flex-start;
      padding-left: 0px;

      img {
        width: 150px;
      }
    }

    .menu {
      grid-column: 3/4;
      display: grid;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .barra {
    background: linear-gradient(to right, #00aaa6, #00238d);
    border-radius: 0px !important;
  }

  .submain .lineaServ {
    width: 100%;
  }

  .jobs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .blockForm {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
      text-align: center;
    }
  }

  .blockSomos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .blockServ {
    display: flex;
    flex-direction: row;

    .lineaServ .artTitulo {
      height: auto;
      min-height: 400px;
    }
  }

  .blockSomos .blockArt {
    display: inline-block;
    width: 33%;
    height: auto;
    min-height: 170px;
    border-radius: 4px;
    margin: 1%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
  }

  textarea {
    width: 90%;
  }

  .subjobs {
    height: auto !important;
  }

  .artbutton {
    opacity: 1;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  footer {
    width: 100%;
    height: auto;
    color: white;

    .footer_div-Style {
      width: 100%;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1f;

    .logo {
      grid-column: 1/2;
      background-color: white;
      align-self: center;
      justify-content: flex-start;
      padding-left: 30px;
    }

    .menu {
      grid-column: 3/4;
      display: grid;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .logo img {
      width: 150px;
    }
  }

  .submain {
    padding: 5%;

    .lineaServ {
      width: 100%;
    }
  }

  .artbutton {
    opacity: 1;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .jobs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .blockSomos {
    display: flex;
  }

  .blockServ {
    display: flex;
    flex-direction: row;
  }

  .blockForm {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;

    form {
      align-content: center;
    }

    .form {
      text-align: center;
      width: 100%;
    }
  }

  .contact {
    height: 60vh;
  }

  footer {
    width: 100%;
    color: white;

    .footer_div-Style {
      width: 100%;
      align-content: center;
      justify-content: center;
    }
  }
}